{% extends 'base/base-site.html' %}
{% load static %}

{% block body_class %}product_page{% endblock %}
{% block styles %}
    <link href="{% static 'main/assets/plugins/jquery-datatable/css/jquery.dataTables.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'main/assets/plugins/datatables-responsive/css/datatables.responsive.css' %}" rel="stylesheet" type="text/css" media="screen" />
  {% endblock %}

{% block content %}
      <!-- BEGIN PAGE CONTAINER-->
      <div class="page-content">
        <div class="content" style="background-color:{{ class_info.color }};">
          <!-- BEGIN PAGE TITLE -->
          <div class="page-title">
            <h3><span class="semi-bold">{{ class_info.title }}</span> Inventory</h3>
          </div>
<div class="row-fluid">
            <div class="span12">
              <div class="grid simple ">
                <div class="grid-title">
                  <div class="inventory-selectors">
                  <a href="{% url 'inventory.index' %}"><button class="btn btn-primary">All Inventory</button></a>

                  <a  href="{% url 'inventory.index' 'selling-inventory' %}"><button class="btn btn-success">For Sale</button></a>

                  <a  href="{% url 'inventory.index' 'vender' %}"><button class="btn btn-warning">Vender</button></a>

                  <a  href="{% url 'inventory.index' 'seller' %}"><button class="btn btn-info">Seller</button></a>

                  </div>
                </div>
                <div id="table-container" class="grid-body ">
                    {% block table %}
                  <table class="table table-hover table-condensed">
                    <thead>
                      <tr>
                        <th style="width:5%">Type</th>
                        <th style="width:10%">Product</th>
                        <th style="width:5%">SKU</th>
                        <th style="width:6%" class="hide-sm">Wholesale</th>
                        <th style="width:6%" {% if products_selling %}class="hide-sm"{% endif %}>Inventory</th>
                        <th style="width:6%" {% if not products_selling %}class="hide-sm"{% endif %}>Selling</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if products %}

                      {% for product in products %}

                      <tr {% if product.on_floor >= 1 %}style="background-color:#E0FFFF;"{% elif not product.QTY %}style="background-color:#FA8072;"{% endif %}>

                        <td class="v-align-middle">
                          <span style="color:{{ class_info.color }}">{{ product.class_name|capfirst }}</span>
                        </td>

                        <td class="v-align-middle">
                          <a href="
                          {% if product.class_name == 'vender' %}
                            {% url 'vender_product.detail' product.pk %}
                          {% else %}
                            {% url 'seller_product.detail' product.pk %}
                          {% endif %}" style="width:10%"
                           >
                            {{ product.title }}
                          </a>
                        </td>

                        <td class="v-align-middle">
                          <span class="muted">{{ product.SKU }}</span>
                        </td>

                        <td class="hide-sm">
                          <span class="muted bold text-success">${{ product.wholesale }}</span>
                        </td>

                        <td {% if products_selling %}class="hide-sm"{% endif %}>
                          {% if product.class_name != 'seller' %}
                          <input type="number" value="{{ product.QTY }}" style="width:50px;" min="0"></input>
                          {% else %}
                          <span class="muted">{{ product.QTY }}</span>
                          {% endif %}
                        </td>

                        <td {% if not products_selling %}class="hide-sm"{% endif %}>
                          <span class="muted">{{ product.on_floor }}</span>
                        </td>
                      </tr>
                      {% endfor %}

                      {% endif %}

                    </tbody>
                  </table>
                  {% endblock %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block page_scripts %}

    <script src="{% static 'main/assets/plugins/bootstrap-select2/select2.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'main/assets/plugins/jquery-datatable/js/jquery.dataTables.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'main/assets/plugins/jquery-datatable/extra/js/dataTables.tableTools.min.js' %}" type="text/javascript"></script>

    <script type="text/javascript" src="{% static 'main/assets/plugins/datatables-responsive/js/datatables.responsive.js' %}"></script>

    <script type="text/javascript" src="{% static 'main/assets/plugins/datatables-responsive/js/lodash.min.js' %}"></script>

    <script src="{% static 'main/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/assets/js/datatables.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'main/assets/js/tables.js' %}"></script>
{% endblock %}