{% extends 'base/base-site.html' %}
{% block content %}
      <!-- BEGIN PAGE CONTAINER-->
      <div class="page-content">
        <div class="content">
          <!-- BEGIN PAGE TITLE -->
          <div class="page-title">
            <h3>Current Inventory</h3>
          </div>
          <!-- END PAGE TITLE -->
          <!-- BEGIN PlACE PAGE CONTENT HERE -->
          {% for product in products %}
          <div>
            <div>
              Item: <b>{{ product.title }}</b>
            </div>
            <div>
              QTY: <b>{{ product.QTY }}</b>
            </div>
            <div>
              SKU: <b>{{ product.SKU }}</b>
            </div>
            <div>
              Vender: <b>{{ product.vender }}</b>
            </div>
            <div>
              Wholesale: <b>${{ product.wholesale }}</b>
            </div>
            <div>
              Suggested Retail: <b>${{ product.resale }}</b>
            </div>
            <img src="{{ product.img.url }}" alt="{{ product.title }}" />
            <br>
          </div>
          {% endfor %}
          <!-- END PLACE PAGE CONTENT HERE -->
        </div>
      </div>
      <!-- END PAGE CONTAINER -->
{% endblock %}