{% extends 'base/base-site.html' %}
{% block content %}
      <!-- BEGIN PAGE CONTAINER-->
      <div class="page-content">
        <div class="content">
          <!-- BEGIN PAGE TITLE -->
          <div class="page-title">
            <h3>{{ object.title }}</h3>
          </div>
          <!-- END PAGE TITLE -->
          <!-- BEGIN PlACE PAGE CONTENT HERE -->

          <div class="col-md-8 col-vlg-6 m-b-10 ">
              <div class="tiles white">
                <div class="row">
                  <div class="sales-graph-heading">
                    <div class="col-md-3 col-sm-3">
                      <p class="semi-bold">Inventory</p>
                      <h4><span class="semi-bold">{{ object.QTY }}</span></h4>
                    </div>
                    <div class="col-md-4 col-sm-3">
                      <p class="semi-bold">Floor</p>
                      <h4><span class="semi-bold">{{ object.on_floor }}</span></h4>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="sales-graph-heading">
                    {% if object.wholesale %}
                    <div class="col-md-3 col-sm-3">
                      <h5 class="no-margin">Wholesale</h5>
                      <h4><span class="muted bold text-success">${{ object.wholesale }}</span></h4>
                    </div>
                    {% endif %}
                    <div class="col-md-3 col-sm-3">
                      <p class="semi-bold">Sugested Resale</p>
                      <h4><span class="muted bold text-success">${{ object.resale }}</span></h4>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>

                <div class="row">
                  <div class="sales-graph-heading">
                    {% if object.vender %}
                    <div class="col-md-3 col-sm-5">
                      <h5 class="no-margin">Vender</h5>
                      <h4><span class="semi-bold">{{ object.vender }}</span></h4>
                    </div>
                    {% endif %}
                    <div class="col-md-3 col-sm-3">
                      <p class="semi-bold">SKU</p>
                      <h4><span class="semi-bold">{{ object.SKU }}</span></h4>
                    </div>
                    
                    {% if object.img %}
                    <div class="col-md-3 col-sm-3">
                      <img src="{{ object.img.url }}" class="product-img" alt="{{ object.title }}" />
                    </div>
                    {% endif %}
                    <div class="clearfix"></div>
                  </div>
                </div>

                <h5 class="semi-bold m-t-30 m-l-30">LAST SALE</h5>
                <table class="table no-more-tables m-t-20 m-l-20 m-b-30">
                  <thead style="display:none">
                    <tr>
                      <th style="width:9%">Project Name</th>
                      <th style="width:22%">Description</th>
                      <th style="width:6%">Price</th>
                      <th style="width:1%"> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="v-align-middle bold text-success">25601</td>
                      <td class="v-align-middle"><span class="muted">Redesign project template</span> </td>
                      <td><span class="muted bold text-success">$4,500</span> </td>
                      <td class="v-align-middle"></td>
                    </tr>
                    <tr>
                      <td class="v-align-middle bold text-success">25601</td>
                      <td class="v-align-middle"><span class="muted">Redesign project template</span> </td>
                      <td><span class="muted bold text-success">$4,500</span> </td>
                      <td class="v-align-middle"></td>
                    </tr>
                  </tbody>
                </table>
                <button class="btn btn-primary"><a href="{% url 'products.update' object.pk %}">Edit Product</a></button>
              </div>
            </div>
          <!-- END PLACE PAGE CONTENT HERE -->
        </div>
      </div>
      <!-- END PAGE CONTAINER -->
{% endblock %}